body {

  font-family: 'Josefin Sans', Arial;
  background: linear-gradient(#424242, #242424) fixed;
  color: #e4e4e4;
}

button, input {
  font-size: 100%;
  font-family: 'Josefin Sans', Arial;  
}

table {
  width: 100%;
}

th {
  color: #f3a412;
}

td, th {
  border: 0.5px solid #ddddddb9;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #242424;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 100%;
  color: #f3a412;
  text-decoration: underline;
  position: relative;
  margin-bottom: -70px;
}

.nest {
  position: relative;
  bottom: 110px;
  left: 100px;
  font-size: 2em;
}

.form {
  margin-top: 5px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
